[Unit]
Description=Apply Custom Undervolt and Power Limits to R9700 GPUs
After=syslog.target local-fs.target
After=systemd-modules-load.service
Before=display-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/tune_r9700.sh

[Install]
WantedBy=multi-user.target

